@import '../../../../assets/scss/colors';

.input-icons {
  .icon {
    top: 0.3125rem;
    left: 2.1875rem;
    color: $gray-2;
    font-size: 1.875rem;
    min-width: 2.4375rem;
    position: relative;
    -webkit-box-pack: center;
    display: -webkit-inline-box;
  }

  .input-field {
    color: $gray-2;
    font-size: 1.25rem;
    line-height: 1.625rem;
    padding: 1.375rem 1.5625rem;
    text-align: center;
    margin-left: -1.5625rem;
    font-style: normal;
    border-radius: 3.125rem;
    font-weight: normal;
    padding-left: 5.2813rem;
    width: calc(100% - 1.5625rem);
    background-color: $gray-4;
    font-family: 'Red Hat Display';
  }
}