 .login-section {
   height: 875px;
   .btn-login {
     text-align: center;
     padding-top: 95px;
   }

   .btn-google {
     text-align: center;
     padding-top: 56px;
   }

   .btn-facebook {
     text-align: center;
     padding-top: 27px;
   }
 }
