 .login-section {
   height: 54.6875rem;
   .btn-login {
     text-align: center;
     padding-top: 5.9375rem;
   }

   .btn-google {
     text-align: center;
     padding-top: 3.5rem;
   }

   .btn-facebook {
     text-align: center;
     padding-top: 1.6875rem;
   }
 }
