<div id="checkout-section">
  <div>
    <app-checkout-header></app-checkout-header>
  </div>
  <div class="checkout-main-container row">
    <div class="col-6 tabs-container">
      <tabset>
        <tab heading="Order" id="order-tab">
          <app-order-tab-body></app-order-tab-body>
        </tab>
        <tab heading="Address">Basic content 1</tab>
        <tab heading="Payment">Basic content 2</tab>
        <tab heading="Checkout">Basic content 2</tab>
      </tabset>
    </div>
    <div class="col-6"></div>
  </div>
</div>