@import url('https://fonts.googleapis.com/css2?family=Rowdies&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');

body {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
}

//font-family: 'Red Hat Display', sans-serif;

h1 {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: bold;
  font-size: 120px;
  line-height: 149px;
}

h2 {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: normal;
  font-size: 80px;
  line-height: 99px;
}


h3 {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
}

h4 {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}

caption {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.btn {
  font-family: 'Rowdies';
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: center;

  &_big { //Button/30
    font-size: 30px;
    line-height: 37px;
  }

  &_small { //Button/20
    font-size: 20px;
    line-height: 25px;
  }
}
