@import '../../../../assets/scss/colors';

.btn {
  left: 5rem;
  padding: 0.9688rem 2.1875rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5625rem;
  text-align: center;
  font-style: normal;
  align-items: center;
  font-family: Rowdies;
  border-radius: 12.5rem;
  justify-content: center;

  .icon {
      top: 0.0625rem;
      color: $yellow;
      display: inline;
      &::before {
        margin-right: 0.5rem;
      }
    }

  &-primary,
  &-secondary {
    color: $gray-6;
  }

  &-outline-light, &-light {
    opacity: 1;
    &, .icon {
      color: $gray-4 !important;
    }
  }

  &-shadow {
    box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.25);
  }
}
