@import '../../../../assets/scss/colors';

.address-credit-card {
  width: 21.875rem;
  display: flex;
  min-height: 5.125rem;
  background: $gray-1;
  border-radius: 0.625rem;
  flex-direction: column;
  align-items: flex-start;
  padding: 1.25rem 0rem 1.25rem 1.25rem;
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);

  .credit-card-logo {
    top: 0.625rem;
    right: -3.4375rem;
    position: absolute;
  }

  .card-content {
    color: $white;
    font-size: 1rem;
    margin-right: 22%;
    line-height: 1.3125rem;
    font-style: normal;
    font-weight: normal;
    font-family: 'Red Hat Display';
  }

  .card-footer {
    &-text {
      color: $gray-3;
      max-width: 10.3125rem;
      vertical-align: middle;
    }

    .icon {
      top: 0.3125rem;
      width: 2.5rem;
      right: -0.625rem;
      color: $gray-3;
      cursor: pointer;
      position: absolute;
    }
  }
}