<div class="address-credit-card">
  <div *ngIf="state !== 'NEW'" class="card-content position-relative">
    <img class="credit-card-logo" *ngIf="type === 'credit'" src="assets/images/{{creditCardBrand}}.svg">
    <h4 class="title txt-white">{{title}}</h4>
    <p class="card-content">{{content1}}</p>
    <p class="card-content">{{content2}}</p>
  </div>
  <div class="card-footer p-0 row align-items-center">
    <sb-icon-button class="col-auto"[isOutline]="true" [label]="state" (click)="onClick.emit($event)"></sb-icon-button>
    <div class="position-relative col-auto row">
      <label class="card-footer-text text-truncate" [ngClass]="{'txt-gray-6': isDefault || state === 'NEW'}">{{footerText}}</label>
      <li *ngIf="state !== 'NEW'" class="icon icon-start" (click)="onDefaultClick.emit($event)" [ngClass]="{'txt-yellow': isDefault}"></li>
    </div>
  </div>
</div>