# Coverage directory used by tools like istanbul
coverage

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/

# TypeScript v1 declaration files
typings/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# build / generate output
dist

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
serviceAccount.json
cypress.env.json

# environment
environment.ts
environment.prod.ts
