<app-news-subscribe *ngIf="(isAuthRoute$ | async) === false"></app-news-subscribe>
<footer class="footer">
  <div class="row footer-content">
    <div class="our-info col-md-4 col-12">
      <img class="logo" src="assets/images/Logo.svg" width="101px" height="101px">
      <p class="txt-gray-1 pt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla nec scelerisque vulputate est iaculis bibendum
        curabitur.</p>
        <div class="row media-icons mx-1">
          <li class="icon col cursor-pointer icon-facebook"></li>
          <li class="icon col cursor-pointer icon-twitter"></li>
          <li class="icon col cursor-pointer icon-linkedin"></li>
          <li class="icon col cursor-pointer icon-youtube"></li>
          <li class="icon col cursor-pointer icon-instagram"></li>
        </div>
    </div>
    <div class="our-links txt-white col-12 col-md-2 mt-5">
      <h4>Our Links</h4>
      <ul class="list-group pt-4">
        <li class="pb-3"><a href="">Menu</a></li>
        <li class="pb-3"><a href="">Contact</a></li>
        <li class="pb-3"><a href="">About us</a></li>
        <li class="pb-3"><a href="">Help</a></li>
      </ul>
    </div>
    <div class="stuff txt-white col-12 col-md-3 mt-5">
      <h4>Important stuff!</h4>
      <ul class="list-group pt-4">
        <li class="pb-3"><a href="">Terms & Conditions</a></li>
        <li class="pb-3"><a href="">Privacy Policy</a></li>
        <li class="pb-3"><a href="">Careers</a></li>
      </ul>
    </div>
    <div class="our-feed txt-white col-12 col-md-3 mt-5">
      <h4>Our Feed</h4>
      <div class="d-flex flex-wrap">
        <img src="assets/images/ourfeed_1.png" class="m-1" width="68px" height="68px">
        <img src="assets/images/ourfeed_2.png" class="m-1" width="68px" height="68px">
        <img src="assets/images/ourfeed_3.png" class="m-1" width="68px" height="68px">
        <img src="assets/images/ourfeed_4.png" class="m-1" width="68px" height="68px">
        <img src="assets/images/ourfeed_5.png" class="m-1" width="68px" height="68px">
        <img src="assets/images/ourfeed_6.png" class="m-1" width="68px" height="68px">
      </div>
    </div>
  </div>
</footer>