#day-promos-section {
  padding-top: 6.875rem;
  padding-bottom: 3.125rem;

  .promo-1 {
    padding-top: 6.25rem;

    img {
      left: 14.0625rem;
    }

    sb-promotion-card {
      opacity: 0.9;
    }
  }

  .promo-2 {
    padding-top: 5.3125rem;

    sb-promotion-card {
      z-index: 1;
      left: 13.75rem;
      opacity: 0.9;
    }
  }
}