<div id="day-promos-section" class="text-center">
  <h3 class="txt-white">Promos of the day</h3>
  <div class="promo-1 d-flex align-items-center">
    <img class="position-relative" src="assets/images/promo-bg1.png" alt="Promo 1">
    <sb-promotion-card
      class="position-relative"
      bgColor="#380A48"
      [showDecorators]="true"
      mainTitle="2 x 1 Fridays"
      secondTitle="‘LIVES & ‘SHROOMS"
      description="On medium size pizzas with no additional toppings.">
    </sb-promotion-card>
  </div>
  <div class="promo-2 d-flex align-items-center">
    <sb-promotion-card
      class="position-relative"
      bgColor="#284B56"
      mainTitle="33% OFF"
      secondTitle="SALAME & MUSHROOMS">
    </sb-promotion-card>
    <img class="position-relative" src="assets/images/promo-bg2.png" alt="Promo 2">
  </div>
</div>