#day-promos-section {
  padding-top: 110px;
  padding-bottom: 50px;

  .promo-1 {
    padding-top: 100px;

    img {
      left: 225px;
    }

    sb-promotion-card {
      opacity: 0.9;
    }
  }

  .promo-2 {
    padding-top: 85px;

    sb-promotion-card {
      z-index: 1;
      left: 220px;
      opacity: 0.9;
    }
  }
}