@import '../../../../assets/scss/colors';

.nav {
  a {
    order: 0;
    margin: 0rem;
    padding: 0rem;
    font-size: 1.5rem;
    font-weight: 300;
    position: static;
    line-height: 1.875rem;
    font-style: normal;
    text-align: center;
    font-family: Rowdies;

    &.nav-link.active, &.nav-link:hover {
      color: $yellow;
    }
    .counter {
      top: -15px;
      color: $yellow;
      font-size: 12px;
      padding: 0px 12px;
      position: absolute;
      border-radius: 100%;
      background-color: $gray-1;
    }
  }

  .nav-link,
  .icon {
    color: $gray-6;

    &.active,
    &:hover {
      color: $gray-4;
    }
  }

}

.mobile-menu {
  display: none;

  .bg-dark .nav-link, .icon {
    font-style: normal;
    font-family: Rowdies;
    font-size: 1.5rem;
    color: $gray-6;
    &.active{
      color: $yellow;
    }
  }
}

@media (max-width: 61.9988rem) {
  .mobile-menu {
    display: block;
  }

  .nav {
    display: none !important;
  }
}
