@import '../../../../assets/scss/colors';

#customize-pizza-form {
  padding-top: 8.625rem;
  border-radius: 0.625rem 12.5rem 0.625rem 0.625rem;

  .modal-title {
    padding-bottom: 7.8125rem;
  }

  .pizza-size-container {
    padding-top: 3.75rem;

    .pizza-size {
      border: 0.1875rem solid;
      border-radius: 100%;
      display: block;

      &.selected {
        background-color: $green-1;
      }

      &-small {
        width: 9.6875rem;
        height: 9.6875rem;
        border-color: $red;
      }

      &-medium {
        width: 10.875rem;
        height: 10.875rem;
        border-color: $red;
      }

      &-large {
        width: 12.375rem;
        height: 12.375rem;
        border-color: $red;
      }
    }
  }

  .container {
    padding-left: 3.75rem;
    padding-right: 3.75rem;


    .btn-content {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }

    .main-dropdown {
      width: 100%;
    }
  }
}

::ng-deep {
  .modal-xl {
    max-width: 73%;
  }

  .modal-content {
    border-radius: 0.625rem 12.5rem 0.625rem 0.625rem;
    background-color: $gray-1;
  }
}