@import '../../../../assets/scss/colors';

.promotion-card {
  z-index: 1;
  width: 36.75rem;
  height: 23.0625rem;
  padding: 1.125rem;
  position: relative;
  text-align: center;
  border-radius: 0.625rem;
  mix-blend-mode: normal;
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.16);

  .main-title-content {
    z-index: 10;

    .decorator-left {
      position: absolute;
      left: 0rem;
      bottom: -0.625rem;
      z-index: -1;
    }

    .decorator-right {
      position: absolute;
      top: 0;
      right: 1.25rem;
      z-index: -1;
    }
  }

  .second-title {
    margin-left: 3.75rem;
    margin-right: 3.75rem;
  }

  .description {
    color: $white;
    font-size: 1rem;
    line-height: 1.3125rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-family: 'Red Hat Display';
  }

  .promotion-footer {
    bottom: 0.625rem;
    position: absolute;

    .disclaimer {
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 1rem;
      margin-left: 3.4375rem;
      font-style: normal;
      margin-right: 3.4375rem;
      font-family: 'Red Hat Display';
    }
  }
}