@import '../../assets/scss/colors';
@import "~bootstrap/scss/_functions.scss";
@import "~bootstrap/scss/_variables.scss";
@import "~bootstrap/scss/mixins/_breakpoints.scss";

#menu-section .menu-main-container {
  padding-top: 7.625rem;

  .btn-content {
    height: 13.0625rem;

    .customize-btn {
      z-index: 1;
      left: 32%;
      top: 9.3125rem;
      position: relative;
    }
  }

  #bottom-section {
    height: 83.75rem;
    bottom: -31.25rem;
    margin-top: -31.25rem;
    position: relative;
    background-color: #27AE60;
    border-radius: 26.125rem 0rem 0rem 0rem;

    .section-container {
      top: 6.5rem;
      position: relative;

      sb-button {
        padding-left: 4.375rem;
      }

      .promo-2 {
        margin-top: 7.8125rem;
      }
    }
  }
}
@include media-breakpoint-down(md) {
  .promo-content {
    padding-left: 10%;
    display: block !important;
  }
}
