@import '../../../../assets/scss/colors';

.pizza-card {
  width: 19.25rem;
  height: 28.0625rem;
  padding-left: 1.875rem;
  padding-right: 0.9375rem;
  border-radius: 0.625rem 6.25rem 0.625rem 0.625rem;
  background-repeat: no-repeat, repeat;
  box-shadow: 0rem 0.25rem 1rem 0.75rem rgba(0, 0, 0, 0.14);

  .content {
    position: relative;
    top: 50%;
    height: 50%;

    .calories {
      margin-left: 2.25rem;
    }

    .description {
      color: $gray-1;
      font-size: 1rem;
      line-height: 1.3125rem;
      font-style: normal;
      font-weight: normal;
      font-family: 'Red Hat Display';
    }

    .pizza-card-footer {
      bottom: 1.25rem;
      position: absolute;
      width: -webkit-fill-available;

      .price-container {
        display: inline-grid;

        .price-label {
          margin: 0;
          color: $gray-1;
          font-size: 0.75rem;
          font-weight: 300;
          line-height: 0.9375rem;
          text-align: center;
          font-style: normal;
          font-family: Rowdies;
        }

        .price {
          color: $gray-1;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1.875rem;
          font-style: normal;
          text-align: center;
          font-family: Rowdies;
        }
      }

      .add-btn {
        right: 1.25rem;
        position: relative;
      }
    }
  }
}