<div class="pizza-card" [ngStyle]="background">
  <div class="content">
    <h4 class="mb-1">{{title}}</h4>
    <div>
      <caption class="d-inline txt-gray-6">{{numOfGrams}}g</caption>
      <caption class="d-inline txt-gray-6 calories">{{numOfCalories}} cal</caption>
    </div>
    <p class="description pt-1 pb-1 m-0">{{description}}</p>
    <div class="row pizza-card-footer">
      <div class="price-container pr-3 pl-0 py-2 col-4">
        <label class="price-label">starts at</label>
        <span class="price">{{price | currency : 'USD' : 'symbol' : '1.0-0'}}</span>
      </div>
      <div class="col-8 px-0">
        <sb-icon-button class="add-btn float-right" width="130px" label="ADD" (click)="onClick.emit($event)"></sb-icon-button>
      </div>
    </div>
  </div>
</div>