@import '../../../../assets/scss/colors';

.pizza-card {
  width: 308px;
  height: 449px;
  padding-left: 30px;
  padding-right: 15px;
  border-radius: 10px 100px 10px 10px;
  background-repeat: no-repeat, repeat;
  box-shadow: 0px 4px 16px 12px rgba(0, 0, 0, 0.14);

  .content {
    position: relative;
    top: 50%;
    height: 50%;

    .calories {
      margin-left: 36px;
    }

    .description {
      color: $gray-1;
      font-size: 16px;
      line-height: 21px;
      font-style: normal;
      font-weight: normal;
      font-family: 'Red Hat Display';
    }

    .pizza-card-footer {
      bottom: 20px;
      position: absolute;
      width: -webkit-fill-available;

      .price-container {
        display: inline-grid;

        .price-label {
          margin: 0;
          color: $gray-1;
          font-size: 12px;
          font-weight: 300;
          line-height: 15px;
          text-align: center;
          font-style: normal;
          font-family: Rowdies;
        }

        .price {
          color: $gray-1;
          font-size: 24px;
          font-weight: bold;
          line-height: 30px;
          font-style: normal;
          text-align: center;
          font-family: Rowdies;
        }
      }

      .add-btn {
        right: 20px;
        position: relative;
      }
    }
  }
}