<div id="order-tab-body" class="row py-5">
  <div class="table-responsive table-borderless">
    <table class="table txt-white" *ngIf="(shoppingCart$ | async) as shoppingCart">
      <thead>
        <tr>
          <th scope="col" class="w-25 pl-4">Quantity</th>
          <th scope="col" class="w-75">Product</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of shoppingCart" >
          <td class="qty-field">
            <span class="mr-3" (click)="onQuantity(product, -1)">-</span>
            {{product.quantity}}
            <span class="ml-3" (click)="onQuantity(product, 1)">+</span>
          </td>
          <td><p class="m-0">{{product?.item?.name}}</p><caption class="txt-yellow p-0">Customize</caption></td>
          <td>{{(product?.item?.price || 0) * (product?.quantity || 0) | currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>