@import '../../../../assets/scss/colors';

.btn {
  color: red;
  top: 20px;
  left: 20px;
  padding: 15.5px 41.5px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  font-style: normal;
  align-items: center;
  font-family: Rowdies;
  border-radius: 200px;
  justify-content: center;
  &-primary,
  &-secondary {
    color: $gray-6;
  }
  &-light {
    opacity: 1;
    color: $gray-4;
  }
  &-shadow {
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  }
  &.btn-outline-white {
    border-color: $white;
    color: $white;
    &:hover {
      color: $gray-5;
      border-color: $gray-5;
    }
  }
}
