<router-outlet></router-outlet>
<div class="container p-3 bg-black">
  <button type="button" class="btn btn-primary mr-2">Primary</button>
  <button type="button" class="btn btn-secondary txt-gray-6 mr-2">Secondary</button>
  <button type="button" class="btn bg-green-1 txt-gray-6 mr-2">Green</button>
  <button type="button" class="btn btn-light txt-gray-4 mr-2">Light</button>
  <br><br>
  <button type="button" class="btn btn-outline-primary mr-2">Primary</button>
  <button type="button" class="btn btn-outline-secondary mr-2">Secondary</button>
  <button type="button" class="btn btn-outline-light mr-2">Light</button>
  <h3 class="txt-primary pt-1">Primary Text</h3>
  <h3 class="txt-secondary pt-1">Secondary Text</h3>
  <h3 class="txt-yellow pt-1">Title Text</h3>
  <h3 class="txt-white pt-1">Title Text Secondary</h3>
  <hr>
  <h4 class="txt-green-1 pt-1">From StoryBook:</h4>
  <sb-button type="primary" label="CUSTUMIZE YOUR OWN"></sb-button>
</div>
