<div id="customize-pizza-form" class="bg-gray-1">
<div class="text-center">
  <h2 class="txt-yellow modal-title">Make it your own way</h2>
  <h3 class="txt-white">Choose your size</h3>
  <div class="pizza-size-container d-flex align-items-baseline justify-content-center">
    <div *ngFor="let size of products.sizes" (click)="onSelectProduct('size', size)">
      <span class="pizza-size pizza-size-{{size.name}} mx-5 cursor-pointer mb-4"></span>
      <span class="pizza-size_text">
      <h4 class="txt-white">{{size.name | titlecase}}</h4>
      <h4 class="txt-white">{{size.description}}</h4>
    </span>
  </div>
</div>
<div class="container">
  <div>
    <h3 class="txt-white text-center pt-5">Choose your toppings</h3>
    <h4 class="txt-white pt-5">Sauce</h4>
    <div class="btn-content d-flex justify-content-between flex-wrap pt-5">
      <sb-button 
        *ngFor="let sauce of products.sauce"
        [label]="sauce.name"
        [isOutline]="sauceField?.value?.id !== sauce.id"
        width="300px"
        height="90px"
        (click)="onSelectProduct('sauce', sauce)">
      </sb-button>
    </div>
    <h4 class="txt-white text-center pt-5">No sauce?</h4>
  </div>
  <div>
    <h4 class="txt-white pt-5">Cheese</h4>
    <div class="d-flex justify-content-between flex-wrap py-5">
      <sb-button 
        *ngFor="let cheese of products.cheese"
        class="p-3"
        [label]="cheese.name" 
        [isOutline]="true"
        [isOutline]="cheeseField?.value?.id !== cheese.id"
        width="300px"
        height="90px"
        (click)="onSelectProduct('cheese', cheese)">
      </sb-button>
    </div>
    <h4 class="txt-white text-center pt-5">No cheese?</h4>
  </div>
  <div>
    <h4 class="txt-white pt-5">Toppings</h4>
    <div class="d-flex justify-content-between flex-wrap py-5">
      <sb-button
        *ngFor="let topping of products.toppings"
        class="p-3"
        [label]="topping.name"
        [isOutline]="true"
        [isOutline]="toppingField?.value?.id !== topping.id"
        width="300px"
        height="90px"
        (click)="onSelectProduct('topping', topping)"></sb-button>
    </div>
    <h4 class="txt-white text-center pt-5">Extra Something?</h4>
  </div>
  <div>
    <h3 class="txt-white text-center pt-5">Need anything else?</h3>
    <div class="row py-5">
      <div class="col-6">
        <h4 class="txt-white pt-5 pb-3">Drinks</h4>
        <sb-dropdown
          [dropdownValues]="getDdValues(products.drinks)"
          [reset]="reset$ | async"
          class="main-dropdown pt-5" 
          (itemSelected)="onExtraSelected('drink', $event)">
        </sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown 
            [dropdownValues]="getDdnumber(9)"
            [reset]="reset$ | async"
            class="col-6"
            (itemSelected)="onExtraQuantity('drink', $event)">
          </sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD" (click)="onAddExtra('drink')"></sb-button>
        </div>
      
        <h4 class="txt-white pt-5 pb-3">Appetizers</h4>
        <sb-dropdown 
          [dropdownValues]="getDdValues(products.appetizers)"
          [reset]="reset$ | async"
          class="main-dropdown pt-5"
          (itemSelected)="onExtraSelected('appetizer', $event)">
        </sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown
            [dropdownValues]="getDdnumber(9)"
            [reset]="reset$ | async"
            class="col-6"
            (itemSelected)="onExtraQuantity('appetizer', $event)">
          </sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD" (click)="onAddExtra('appetizer')"></sb-button>
        </div>
      </div>
      <div class="col-6">
        <h4 class="txt-white pt-5 pb-3">Salads</h4>
        <sb-dropdown
          [dropdownValues]="getDdValues(products.salads)"
          [reset]="reset$ | async"
          class="main-dropdown pt-5"
          (itemSelected)="onExtraSelected('salad', $event)">
        </sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown
            [dropdownValues]="getDdnumber(9)"
            [reset]="reset$ | async"
            class="col-6"
            (itemSelected)="onExtraQuantity('salad', $event)">
          </sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD" (click)="onAddExtra('salad')"></sb-button>
        </div>

        <h4 class="txt-white pt-5 pb-3">Desserts</h4>
        <sb-dropdown
          [dropdownValues]="getDdValues(products.desserts)"
          [reset]="reset$ | async"
          class="main-dropdown"
          (itemSelected)="onExtraSelected('dessert', $event)">
        </sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown
            [dropdownValues]="getDdnumber(9)"
            [reset]="reset$ | async"
            class="col-6"
            (itemSelected)="onExtraQuantity('dessert', $event)">
          </sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD" (click)="onAddExtra('dessert')"></sb-button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-5">
      <sb-button class="px-5" label="RESTART" width="420px" height="120px" (click)="onRestart()"></sb-button>
      <sb-button class="px-5" label="ADD TO CARD" width="420px" height="120px"></sb-button>
    </div>
  </div>
</div>
</div>