<div id="customize-pizza-form" class="bg-gray-1">
<div class="text-center">
  <h2 class="txt-yellow modal-title">Make it your own way</h2>
  <h3 class="txt-white">Choose your size</h3>
  <div class="pizza-size-container d-flex align-items-baseline justify-content-center">
    <div>
      <span class="pizza-size pizza-size-sm mx-5 cursor-pointer mb-4"></span>
      <span class="pizza-size_text">
      <h4 class="txt-white">Small</h4>
      <h4 class="txt-white">7”</h4>
    </span>
    </div>
    <div>
      <span class="pizza-size pizza-size-md mx-5 cursor-pointer mb-4"></span>
      <span class="pizza-size_text">
      <h4 class="txt-white">Medium</h4>
      <h4 class="txt-white">10”</h4>
    </span>
    </div>
    <div>
      <span class="pizza-size pizza-size-lg mx-5 cursor-pointer mb-4"></span>
      <span class="pizza-size_text">
      <h4 class="txt-white">Large</h4>
      <h4 class="txt-white">13”</h4>
    </span>
    </div>
  </div>
</div>
<div class="container">
  <div>
    <h3 class="txt-white text-center pt-5">Choose your toppings</h3>
    <h4 class="txt-white pt-5">Sauce</h4>
    <div class="btn-content d-flex justify-content-between flex-wrap pt-5">
      <sb-button label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
    </div>
    <h4 class="txt-white text-center pt-5">No sauce?</h4>
  </div>
  <div>
    <h4 class="txt-white pt-5">Cheese</h4>
    <div class="d-flex justify-content-between flex-wrap py-5">
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
    </div>
    <h4 class="txt-white text-center pt-5">No cheese?</h4>
  </div>
  <div>
    <h4 class="txt-white pt-5">Toppings</h4>
    <div class="d-flex justify-content-between flex-wrap py-5">
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
      <sb-button class="p-3" label="Tomato" [isOutline]="true" width="300px" height="90px"></sb-button>
    </div>
    <h4 class="txt-white text-center pt-5">Extra Something?</h4>
  </div>
  <div>
    <h3 class="txt-white text-center pt-5">Need anything else?</h3>
    <div class="row py-5">
      <div class="col-6">
        <h4 class="txt-white pt-5 pb-3">Drinks</h4>
        <sb-dropdown class="main-dropdown pt-5"></sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown class="col-6"></sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD"></sb-button>
        </div>
      
        <h4 class="txt-white pt-5 pb-3">Appetizers</h4>
        <sb-dropdown class="main-dropdown pt-5"></sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown class="col-6"></sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD"></sb-button>
        </div>
      </div>
      <div class="col-6">
        <h4 class="txt-white pt-5 pb-3">Drinks</h4>
        <sb-dropdown class="main-dropdown pt-5"></sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown class="col-6"></sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD"></sb-button>
        </div>

        <h4 class="txt-white pt-5 pb-3">Appetizers</h4>
        <sb-dropdown class="main-dropdown"></sb-dropdown>
        <div class="quantity-container row py-3">
          <sb-dropdown class="col-6"></sb-dropdown>
          <sb-button class="col-6 text-right" label="ADD"></sb-button>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center py-5">
      <sb-button class="px-5" label="RESTART" width="420px" height="120px"></sb-button>
      <sb-button class="px-5" label="ADD TO CARD" width="420px" height="120px"></sb-button>
    </div>
  </div>
</div>
</div>