.main-nav {
  display: flex;
  z-index: 100;

  .logo {
    top: 2.625rem;
    left: 6.375rem;
    position: absolute;
  }

  .menu-container {
    top: 3.875rem;
    width: 56%;
    right: 8.25rem;
    position: absolute;
  }
}

@media (max-width: 61.9988rem) {
  .main-nav .logo {
    display: none;
  }
}