@import '../../../assets/scss/colors';

#billing-summary {
  width: 22.8125rem;
  margin-top: 3.75rem;
  background: $gray-1;
  box-shadow: 0rem 0.25rem 1rem rgba(0, 0, 0, 0.15);
  border-radius: 0.625rem 0.625rem 4.375rem 0.625rem;

  .table-container {
    padding-bottom: 3.125rem;
    border-bottom: 0.125rem solid $gray-3;

    td {
      padding-top: 0.125rem;
      padding-bottom: 0.125rem;
    }

    .qty {
      width: 1.25rem;
      padding-right: 0rem;
    }
  }

  .table-total {
    td {
      padding: 0
    }
  }
}