<div id="newsSubscription">
  <div class="ml-4">
    <p class="txt txt-1 mb-1">Do you want promotions and news about us?</p>
    <p class="txt txt-2">SUBSCRIBE TO OUR NEWSLETTER</p>
  </div>
  <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-outline-secondary" type="button">
       <li class="icon icon-delta txt-gray-6"></li>
    </button>
  </div>
</div>
</div>