@import '../../assets/scss/colors';

#bottom-section {
  height: 850px;
  bottom: -640px;
  margin-top: -600px;
  position: relative;
  background-color: $green-2;
  border-radius: 312px 0px 0px 0px;

  .section-container {
    top: 104px;
    position: relative;
    sb-button{
      padding-left: 70px;
    }
  }
}
