@import '../../assets/scss/colors';

#bottom-section {
  height: 53.125rem;
  bottom: -40rem;
  margin-top: -37.5rem;
  position: relative;
  background-color: $green-2;
  border-radius: 19.5rem 0rem 0rem 0rem;

  .section-container {
    top: 6.5rem;
    position: relative;
    sb-button{
      padding-left: 4.375rem;
    }
  }
}
