<div id="home-section" class="d-flex">
  <div class="home-header">
    <div class="img-container position-relative">
      <img src="assets/images/home.png" alt="home">
    </div>
    <div class="header-content position-absolute">
      <h1 class="txt-yellow">PIZZA?</h1>
      <h2 class="txt-yellow">Gotcha!</h2>
      <div class="customize-btn"><sb-button label="CUSTOMIZE YOUR OWN" width="505px" height="117px"></sb-button></div>
    </div>
  </div>
  <div class="auth-main-container w-100">
    <div class="comp-container">
    </div>
  </div>
</div>
