@import '../../assets/scss/colors';

.nav-containter {
  padding: 30px 37.5px;

  .sb-nav-item {
    a {
      order: 0;
      margin: 0px;
      padding: 0px;
      color: $gray-6;
      font-size: 24px;
      font-weight: 300;
      position: static;
      font-style: normal;
      line-height: 30px;
      text-align: center;
      font-family: Rowdies;
      padding-right: 90px;
    }

    .nav-link {

      &.active,
      &:hover {
        color: $gray-4;
      }
    }
  }
}