<header>
  <nav class="desktop-menu nav d-flex justify-content-between">
    <a *ngFor="let menuItem of menuItems" class="nav-link cursor-pointer" [ngClass]="{'active': linkActive === menuItem?.url}"
      (click)="redirectTo(menuItem.url)">
      {{ menuItem.name }} <span *ngIf="menuItem.icon" class="icon" [ngClass]="menuItem.icon"></span>
    </a>
  </nav>
  <div class="fixed-top mobile-menu">
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
    <div class="mob-menu collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
        <a *ngFor="let menuItem of menuItems" class="nav-link" [ngClass]="{'active': linkActive === menuItem?.url}"
          [href]="menuItem.url">
          {{ menuItem.name }} <span *ngIf="menuItem.icon" class="icon" [ngClass]="menuItem.icon"></span>
        </a>
      </div>
    </div>
  </div>
</header>