@import '../../../../assets/scss/colors';

.dropdown {
  list-style-type: none;
	&.show {
		.dropdown-toggle {
			&::before {
				padding-left: 0rem;
				padding-right: 0.625rem;
				transform: rotate(180deg);
			}
		}
	}
}
.dropdown-toggle {
  width: 100%;
	color: $white;
	padding: 1.5625rem;
	font-size: 1.25rem;
	min-width: 14.375rem;
	margin-left: 0.3125rem;
	line-height: 1.625rem;
	background: $gray-2;
	border-radius: 0.625rem;
	font-style: normal;
	font-weight: normal;
	text-decoration: none;
	display: inline-block;
	font-family: 'Red Hat Display';
	box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
	&::after {
		display: none;
	}
	&::before {
		float: right;
		font-size: 1.875rem;
		padding-left: 0.625rem;
	}
}
.dropdown-menu {
  width: 100%;
	margin: 0rem;
	min-width: 14.375rem;
	background: $gray-2;
	top: -0.625rem !important;
	.dropdown-item {
		color: $white;
		font-size: 1.25rem;
		line-height: 1.625rem;
		font-style: normal;
		font-weight: normal;
		font-family: 'Red Hat Display';
		&.disabled {
			color: $gray-3;
		}
		&:hover {
			border-radius: 3.125rem;
			text-decoration: none;
			background-color: $green-2;
		}
	}
}
