@import '../../../../assets/scss/colors';

.badge {
  color: $white;
  font-size: 1rem;
  font-weight: 400;
  padding: 0.5rem 1.125rem;
  line-height: 1.3125rem;
  font-style: normal;
  text-align: center;
  align-items: center;
  border-radius: 1.25rem;
  letter-spacing: 0em;
  justify-content: center;
  font-family: 'Red Hat Display';

  &-primary {
    background-color: $green-2;
  }

  &-secondary {
    background-color: $gray-2;
  }

  .icon {
    color: $white;
    cursor: pointer;
    font-size: 0.625rem;
    display: contents;
    &::before {
      margin-left: 0.9375rem;
    }
  }
}